/* =========== Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&family=Titillium+Web:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --primary: #ffc400;
  --text1: #333;
  --text2: #a9a9a9;
  --grey1: rgb(107, 113, 119);
  --grey2: rgb(255, 255, 255);
  --grey3: rgb(251, 247, 237);
  --grey4: #262626;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 300ms ease-in-out;
  --transition-500: all 500ms ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Besley", serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--white);
  color: var(--white);
  /*overflow: hidden;*/
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
video {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.section {
  padding: 10rem 0 5rem;
  overflow: hidden;
}

.title {
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 4rem;
  color: var(--text1);
}
@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 567px) {
  .title h1 {
    font-size: 3rem;
  }

  .section {
    margin: 5rem 0;
    padding: 5rem 0 0;
  }
}
.header {
  position: relative;
  width: 100%;
}

.menu-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  padding: 3rem;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

.logo h1 {
  font-size: 3rem;
  color: var(--white);
}

.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  display: inline-block;
  color: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.4rem;
}

.nav-item i {
  font-size: 3rem;
  color: rgb(253, 251, 251);
}

.nav-link img {
  border-radius: 50%;
}

@media only screen and (max-width: 540px) {
  .navigation {
    padding: 0;
  }
  .nav {
    max-width: 540px;
    padding: 1rem;
  }

  .logo img {
    width: 3rem;
    height: 3rem;
  }

  .logo h1 {
    font-size: 2rem;
    color: var(--white);
  }

  .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .nav-link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.3rem;
  }

  .nav-item i {
    font-size: 2rem;
    color: white;
  }
}

/*
=========================
MENU Page 
+++++++++++++++++++++++++
*/
.menu-navigation {
  background-color: var(--grey4);
}
.menu-container {
  margin: 5rem auto;
  position: relative;
  color: var(--text1);
}

.menu-container h1 {
  padding: 2rem;
  font-size: 5rem;
  color: var(--text1);
}

.menu-container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ourmenu h2 {
  margin-top: 3rem;
  padding: 1rem;
  font-size: 3rem;
}

.ourmenu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  text-align: start;
}

.ourmenu ul li {
  max-width: 30rem;
  margin: 1rem;
}

@media only screen and (max-width: 470px) {
  .ourmenu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 425px) {
  .ourmenu ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*
==========================================
Footer
==========================================
*/

.footer {
  background-color: var(--grey4);
  padding: 3rem 1rem;
  line-height: 2rem;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: var(--grey3);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--grey2);
}

.footer-center p,
.footer-center div {
  color: var(--grey1);
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer .payment-methods {
  margin-top: 2rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
