/* =========== Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&family=Titillium+Web:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --gold: rgba(175, 149, 74, 1);
  --text1: #1e140a;
  --text2: rgb(250, 249, 249);
  --grey1: rgb(107, 113, 119);
  --grey2: rgb(251, 247, 237);
  --grey3: #262626;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 300ms ease-in-out;
  --transition-500: all 500ms ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Besley", serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--grey2);
  color: var(--white);
  /*overflow: hidden;*/
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

img,
video {
  width: 100%;
  height: 100%;
}

/* =========== Custom Classes ============ */
.d-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;
  padding: 10rem 0 5rem;
  overflow: hidden;
}

.title {
  margin-bottom: 5rem;
}

.title h1 {
  font-size: 3rem;
  color: var(--text1);
  text-shadow: 5px 5px 0px rgba(37, 59, 112, 0.2);
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--gold);
  padding: 1.5rem 2.5rem;
  transition: var(--transition-300);
  margin-top: 3rem;
  cursor: pointer;
  transition: var(--transition-500);
}

.btn:hover {
  border-color: var(--gold);
  box-shadow: var(--shadow-500);
  transform: translateY(-5px);
  opacity: 0.85;
}

.btn:active {
  transform: translateY(0);
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 567px) {
  .title h1 {
    font-size: 3rem;
  }

  .section {
    margin: 5rem 0;
    padding: 5rem 0 0;
  }

  .btn {
    font-size: 1.5rem;
  }
}
/* =========== Navigation ============ */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  padding: 1rem 0;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

.logo h1 {
  font-size: 3rem;
  color: var(--white);
  font-family: "MedievalSharp", cursive;
}

.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  display: inline-block;
  color: var(--gold);
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.4rem;
  position: relative;
}

.nav-item i {
  font-size: 3rem;
  color: var(--gold);
}

.nav-link i:hover {
  transform: scale(1.5);
}

.nav-link img {
  border-radius: 50%;
}

.nav-link span {
  display: none;
}

.nav-link img:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 540px) {
  .navigation {
    padding: 0;
  }
  .nav {
    max-width: 540px;
    padding: 1rem;
  }

  .logo img {
    width: 3rem;
    height: 3rem;
  }

  .logo h1 {
    font-size: 2.5rem;
    color: var(--white);
  }

  .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .nav-link {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
  }

  .nav-item i {
    font-size: 2.5rem;
    color: var(--gold);
  }

  .nav-link i:hover {
    transform: scale(1.3);
  }

  .nav-item img {
    width: 3rem;
    height: 3rem;
  }

  .nav-link img:hover {
    transform: scale(1.3);
  }
}

/* =========== Video Slider ============ */
.swiper-container {
  width: 100%;
  height: 100%;
}

.header .swiper-slide img,
.header .swiper-slide video {
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
}
/*
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 33%,
    rgba(175, 149, 74, 0.43) 100%
  );
  background-blend-mode: overlay;
}
*/
.header-wrapper {
  background-color: rgb(70, 60, 3);
}

.header .content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.content h1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 20px;
  text-shadow: 5px 5px 0px rgba(1, 6, 17, 0.2);
  border-bottom: 1px solid white;
}

.content h2,
.content h3 {
  text-shadow: 5px 5px 0px rgba(1, 6, 17, 0.2);
  font-weight: 800;
}

.content p {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
  width: 70%;
  margin: 0 auto;
}

.content span {
  font-weight: 700;
}

.content .link {
  color: rgb(180, 148, 5);
  background-color: rgb(224, 223, 222);
  margin-left: 1rem;
  opacity: 0.8;
}

.content .btn {
  position: relative;
  display: inline-block;
  padding: 0.7rem 2rem;
  background-color: transparent;
  text-decoration: none;
  color: var(--text2);
  font-weight: 700;
  margin: 2rem;
  letter-spacing: 0.15rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.content .btn::after {
  content: "";
  position: absolute;
  top: -12%;
  left: -3%;
  width: 105%;
  height: 120%;
}

@media (max-width: 1200px) {
  .content h1 {
    font-size: 4rem;
  }

  .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 996px) {
  .content h1 {
    font-size: 3.5rem;
  }

  .content p {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 3.2rem;
  }

  .content p,
  .content span,
  .content li {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 768px) {
  .content .btn {
    margin: 1rem;
  }
}

@media (max-width: 567px) {
  .header .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .content .center {
    margin: 5rem auto;
  }

  .content h1 {
    font-size: 3rem;
    line-height: 3.1rem;
    padding: 2rem;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1.3rem;
    width: 90%;
  }

  .content span {
    display: none;
  }

  .content .btn {
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem;
    letter-spacing: 0.1rem;
  }
}

/*
=======================================
Main
+++++++++++++++++++++++++++++++++++++++
*/

/*=============== slider2: menu ================*/
#menu {
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.menu .title {
  text-align: center;
}

.menu .row-container {
  max-width: 114rem;
  position: relative;
}

.menu .swiper-container {
  width: 100%;
  height: 100%;
}

.menu .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border: 3px solid white;
}

.menu .swiper-slide img {
  display: block;
  width: 100%;
  z-index: 0;
}

.menu .swiper-slide p {
  z-index: 10;
  color: white;
}
/*
.custom-next,
.custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--gold);
  color: var(--white);
  font-size: 2.5rem;
  border-radius: 1rem;
  border: 2px solid white;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.custom-next {
  right: 0rem;
}

.custom-prev {
  left: 0rem;
}
*/
.custom-next,
.custom-prev {
  position: absolute;
  top: -15%;
  transform: translateY(0%);
  background-color: var(--gold);
  color: var(--white);
  font-size: 2.5rem;
  border-radius: 1rem;
  border: 2px solid white;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.custom-next {
  right: 10px;
}

.custom-prev {
  left: auto;
  right: 70px;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 7px;
  border-radius: 5px;
  margin-top: 1rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--gold);
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.menu .explore {
  text-align: center;
  margin-top: 8rem;
}

@media (max-width: 1200px) {
  .custom-next,
  .custom-prev {
    top: -15%;
    transform: translateY(0%);
  }

  .custom-next {
    right: 10px;
  }

  .custom-prev {
    left: auto;
    right: 70px;
  }
}

@media (max-width: 768px) {
  .menu .title h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .custom-next,
  .custom-prev {
    display: none;
  }

  .menu .explore {
    margin-top: 4rem;
  }
}

@media (max-width: 425px) {
  .menu .title h1 {
    font-size: 2.5rem;
  }
}

/*
+++++++++++++++++
Reservation
+++++++++++++++++
*/
#reservation {
  background-image: url("/images/back1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.reservation {
  padding: 2rem 0;
}

.reservation .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation form {
  /* padding-top: 2rem;
  margin: 1rem 2rem;*/
  border-radius: 1rem;
  width: 80%;
  background: rgba(44, 27, 1, 0.5);
  padding: 5rem 0;
}

.inputBox {
  position: relative;
  text-align: center;
}

.inputBox input {
  outline: none;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(160, 160, 160);
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  height: 4rem;
  width: 90%;
  font-size: 1.8rem;
  color: rgb(253, 253, 252);
}

.inputBox input:focus ~ h3,
.inputBox input:valid ~ h3 {
  font-size: 1.6rem;
  top: -1rem;
}

.inputBox h3 {
  position: absolute;
  top: 2.5rem;
  left: 6%;
  color: rgb(253, 253, 252);
  font-weight: 500;
  font-size: 1.7rem;
}
/*
.submit-btn {
  margin-bottom: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 0.5rem;
}
*/
.submit-btn {
  position: relative;
  text-align: center;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  font-family: "Besley", serif;
}
/*
+++++++++++++++++
Contact Us
+++++++++++++++++
*/
.contact {
  padding: 2rem 0;
}

.contact .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
}

.contact div {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text1);
}

.map {
  height: 500px;
  margin-bottom: 5px;
}
.map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 567px) {
  .contact .title {
    width: 90%;
  }

  .map {
    height: 350px;
  }
}

/*
==========================================
Footer
==========================================
*/

.footer {
  background-color: var(--grey3);
  padding: 3rem 1rem;
  line-height: 2rem;
  margin: 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: var(--white);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--gold);
}

.footer-center p,
.footer-center div {
  color: var(--grey1);
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-center span {
  margin-right: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
